body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
}

#status , #no_of_objects , #start{
    font-size: 18px;
}

.copy_right_footer{
position: fixed;
width: 100%;
text-align: center;
background-color: grey;
color: white;
line-height: 3;
bottom: 0;
}

canvas{
    border: 2px white;
    border-radius: 20px;
    margin-top: 90px;
    margin-bottom:20px;
    box-shadow: 5px 5px 18px grey;
}